In [ ]:
!pip install transformers datasets

In [2]:
from datasets import load_dataset

In [3]:
data_file_path = '/content/1.0-data-log_score-api-usage.json'

In [ ]:
train_dataset = load_dataset("json", data_files=f"{data_file_path}", field='train')['train']
val_dataset = load_dataset("json", data_files=f"{data_file_path}", field='val')['train']
test_dataset = load_dataset("json", data_files=f"{data_file_path}", field='test')['train']

In [7]:
train_dataset= train_dataset.remove_columns(['ERRORS', 'CONCEPTUAL', 'API_USAGE', 'REVIEW', 'API_CHANGE', 'DOCUMENTATION', 'DISCREPANCY'])
val_dataset = val_dataset.remove_columns(['ERRORS', 'CONCEPTUAL', 'API_USAGE', 'REVIEW', 'API_CHANGE', 'DOCUMENTATION', 'DISCREPANCY'])
test_dataset = test_dataset.remove_columns(['ERRORS', 'CONCEPTUAL', 'API_USAGE', 'REVIEW', 'API_CHANGE', 'DOCUMENTATION', 'DISCREPANCY'])

In [13]:
import json
import pandas as pd

In [11]:
with open(data_file_path) as f:
    data = json.load(f)

In [12]:
all_data = []
all_data.extend(data['train'])
all_data.extend(data['val'])
all_data.extend(data['test'])

In [14]:
df = pd.DataFrame.from_dict(all_data).iloc[:, :-7]

In [18]:
df.to_csv('/content/python_qa-api_usage-log_score-filtered.csv', index=False)

In [19]:
df.head()

            Q_CreationDate  ... Q_Id
0  2008-08-05 22:26:00.797  ...    0
1  2008-08-05 22:26:00.797  ...    0
2  2008-08-22 10:51:19.057  ...    1
3  2008-08-22 15:34:13.760  ...    2
4  2008-08-29 04:59:31.200  ...    3

[5 rows x 8 columns]